USE [master]
GO
/****** Object:  Database [USC]    Script Date: 21/06/2019 14:47:05 ******/
CREATE DATABASE [USC]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'USC', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\USC.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'USC_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\USC_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [USC].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [USC]
GO
/****** Object:  Table [dbo].[alunos]    Script Date: 21/06/2019 14:47:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[alunos](
	[ALU_RA] [varchar](15) NOT NULL,
	[ALU_NOME] [varchar](80) NOT NULL,
	[ALU_SENHA] [varchar](30) NOT NULL,
 CONSTRAINT [PK_alunos] PRIMARY KEY CLUSTERED 
(
	[ALU_RA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[restaurantes]    Script Date: 21/06/2019 14:47:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[restaurantes](
	[RES_ID] [int] IDENTITY(1,1) NOT NULL,
	[RES_NOME] [varchar](80) NOT NULL,
	[RES_OPCAO] [varchar](20) NULL,
	[RES_GASTRONOMIA] [varchar](60) NULL,
	[RES_PRECO_MEDIO] [numeric](15, 2) NULL,
 CONSTRAINT [PK_restaurantes] PRIMARY KEY CLUSTERED 
(
	[RES_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[vencedores]    Script Date: 21/06/2019 14:47:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vencedores](
	[VCD_ID] [int] IDENTITY(1,1) NOT NULL,
	[VCD_DATA] [date] NOT NULL,
	[RES_ID] [int] NOT NULL,
 CONSTRAINT [PK_vencedores] PRIMARY KEY CLUSTERED 
(
	[VCD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[votos]    Script Date: 21/06/2019 14:47:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[votos](
	[VOT_ID] [int] IDENTITY(1,1) NOT NULL,
	[ALU_RA] [varchar](15) NOT NULL,
	[RES_ID] [int] NOT NULL,
	[VOT_DATA] [datetime] NOT NULL,
 CONSTRAINT [PK_votos] PRIMARY KEY CLUSTERED 
(
	[VOT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[alunos] ([ALU_RA], [ALU_NOME], [ALU_SENHA]) VALUES (N'111', N'Aluno 1', N'111')
INSERT [dbo].[alunos] ([ALU_RA], [ALU_NOME], [ALU_SENHA]) VALUES (N'222', N'Aluno 2', N'222')
INSERT [dbo].[alunos] ([ALU_RA], [ALU_NOME], [ALU_SENHA]) VALUES (N'333', N'Aluno 3', N'333')
SET IDENTITY_INSERT [dbo].[restaurantes] ON 

INSERT [dbo].[restaurantes] ([RES_ID], [RES_NOME], [RES_OPCAO], [RES_GASTRONOMIA], [RES_PRECO_MEDIO]) VALUES (1, N'Restaurante 1', N'KG', N'Japonesa', CAST(23.00 AS Numeric(15, 2)))
INSERT [dbo].[restaurantes] ([RES_ID], [RES_NOME], [RES_OPCAO], [RES_GASTRONOMIA], [RES_PRECO_MEDIO]) VALUES (2, N'Restaurante 2', N'KG', N'Italiana', CAST(22.00 AS Numeric(15, 2)))
INSERT [dbo].[restaurantes] ([RES_ID], [RES_NOME], [RES_OPCAO], [RES_GASTRONOMIA], [RES_PRECO_MEDIO]) VALUES (3, N'Restaurante 3', N'Rodizio', N'Churrascaria', CAST(30.00 AS Numeric(15, 2)))
SET IDENTITY_INSERT [dbo].[restaurantes] OFF
ALTER TABLE [dbo].[vencedores]  WITH CHECK ADD  CONSTRAINT [FK_vencedores_restaurantes] FOREIGN KEY([RES_ID])
REFERENCES [dbo].[restaurantes] ([RES_ID])
GO
ALTER TABLE [dbo].[vencedores] CHECK CONSTRAINT [FK_vencedores_restaurantes]
GO
ALTER TABLE [dbo].[votos]  WITH CHECK ADD  CONSTRAINT [FK_votos_alunos] FOREIGN KEY([ALU_RA])
REFERENCES [dbo].[alunos] ([ALU_RA])
GO
ALTER TABLE [dbo].[votos] CHECK CONSTRAINT [FK_votos_alunos]
GO
ALTER TABLE [dbo].[votos]  WITH CHECK ADD  CONSTRAINT [FK_votos_restaurantes] FOREIGN KEY([RES_ID])
REFERENCES [dbo].[restaurantes] ([RES_ID])
GO
ALTER TABLE [dbo].[votos] CHECK CONSTRAINT [FK_votos_restaurantes]
GO
USE [master]
GO
